Flask
mysql-connector-python
pytz
requests
firebase_admin
reportlab
qrcode[pil]
pillow
gunicorn

git+https://github.com/Nicolas-Personal-Zucchero/HubspotPZ.git
git+https://github.com/Nicolas-Personal-Zucchero/MailerPZ.git