{% extends "base.html" %}

{% block title %}WIP{% endblock %}

{% block content %}
    <h1 class="mb-4">Homepage delle pagine WIP (Work In Progress)</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
        <div class="col">
            <div class="card h-100 shadow-sm hover-card">
                <div class="card-body">
                    <h5 class="card-title">Interventi</h5>
                    <p class="card-text">Gestisci gli interventi programmati o richiesti dai clienti.</p>
                    <a href="{{ url_for('interventi.interventi') }}" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <style>
        .hover-card {
            transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
            border: 1px solid #ddd;
        }

        .hover-card:hover {
            transform: translateY(-5px);
            border-color: #4393C8;
        }

        .card-title {
            color: #333;
        }

        .card-text {
            color: #555;
        }
    </style>
{% endblock %}
